/*Reset Totale*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #1b1535 url("..//img/bg.jpg") center / cover no-repeat fixed;
  color: #1b2845;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  margin: 0;
  padding: 0;
}

.brand {
  width: 100%;
  max-width: 720px;
  margin-bottom: 24px;
  text-align: left;
}

.brand-logo {
  height: 36px;
  margin-top: 20px;
}

#app {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
  max-width: 720px;
  width: 100%;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.25);
}

/* Aggiungi qui le tue regole CSS per:
   - .welcome (titolo, intro, button Inizia)
   - .quiz (counter, timer, domanda, button risposta, classi correct/wrong)
   - .results (percentuale, barre orizzontali, verdetto promosso/bocciato, restart)
*/

#app {
  font-size: x-large;
}

/* SEZIONE WELCOME */
.welcome {
  color: rebeccapurple;
}

/* HTML del Benvenuto */

.welcome h2 {
  color: #1b2845;
  margin-top: -10px;
}

.welcome p {
  color: #1b2845;
  font-size: 1.4rem;
  margin-bottom: 30px;
  font-weight: 40;
}

.welcome ul {
  font-size: 1rem;
  color: #1b1535;
  margin-left: -20px;
}

.welcome li {
  font-size: 1.3rem;
  color: #1b1535;
  padding: 2.5px;
}


/* BOTTONE AVVIO QUIZ */
#buttonStart {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  border-radius: 8px;
  width: 86px;
  font-size: 1rem;
  background-color: #1b273f;
  color: aliceblue;
  padding: 13px 11px 10px;
}

#buttonStart:hover {
  background-color: #21355f;
  color: #ffffff;
  cursor: pointer;
}

/* SEZIONE QUIZ QUIZ */

/* Contenitore di tutta la sezione quiz */

.quiz-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

/* Contatore delle domande "n/10" in alto a sinistra */

.question-counter {
  font-size: 1rem;
  margin: 0;
  font-weight: 300;
  color: grey;
}

/* Timer da 20 a 6 secondi */

.black-timer {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #1b2845;
  background-color: #f1f2f6;
  padding: 8px 18px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: color 0.3s ease;
}

/* Timer da 5 secondi allo scadere */

.red-timer {
  color: #ffffff !important;
  background-color: #ff3b30 !important;
  animation: pulse 0.8s infinite alternate; /* pulsazione animata */
}

/* Comandi per le animazioni del browser */
@keyframes pulse {
  0% {
    transform: scale(1); /* dalla scala normale a quella piu grande dopo*/
  }

  100% {
    transform: scale(1.12);  /* ingrandisce del 12% */
  }
}

/* RISPOSTE, DOMANDE E PULSANTE DEL QUIZ */

/* Organizzazione Risposte del quiz */

.answers {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}

/* Classe al click risposta giusta */

.correct {
  background-color: #2ed573 !important;
  color: #ffffff !important;
  border-color: #2ed573 !important;
}

/* Classe al click risposta sbagliata */
.wrong {
  background-color: #ff4757 !important;
  color: #ffffff !important;
  border-color: #ff4757 !important;
}

/* Blocca hover una volta data la risposta */

.btn-answer:disabled {
  cursor: default; /* blocca hover una volta data la risposta */
  opacity: 1; /* non sbiadisce su safari e chrome */
}

/* Stilizzazione del Bottone Risposta */

.btn-answer {
  width: 100%;
  text-align: left; 
  padding: 18px 24px;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  color: #1b2845;
  background-color: #ffffff; 
  border: 1px solid #1b2845;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease; /* transition fluida per gli hover */
}

/* metto il not disabled perche altrimenti 
  si accende lo stesso dopo aver risposto */

.btn-answer:hover:not(:disabled) {
  background-color: #2b3956;
  color: #ffffff;
  border-color: #2b3956;
}



/* SEZIONE RESULTS */


/* Contenitore della sezione Results */

.results-container {
  text-align: center;
  margin-top: 5px;
}

.results-title {
margin-top: -8px;
}

/* Paragrafo "Quiz completato */

.complete-quiz {
  font-size: 1.2rem;
  margin-bottom: -20px;
}

/* Posizione del grafico a torta */

.chart-wrapper {
  position: relative;
  width: 240px;
  height: 240px;
  margin: 40px auto;
}

/* Posizione del testo all'interno del grafico */

.chart-center-text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

/* Verdetto del test superato (verde), fallito (rosso) */

/* Testi dentro al grafico */ 

.center-verdict {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.center-sub {
  font-size: 0.85rem;
  color: #a0aec0;
  margin-top: 2px;
}

.text-passed{
  color: #2ed573 !important;
}

.text-failed {
  color: #ff4757 !important;
}

/* Percenutale nel grafico */

.chart-center-text strong {
  font-size: 3rem;
  color: #1b273f;
}

/* n/10 domande corrette */

.chart-center-text span {
  color: #c7cad6;
  font-size: 0.9rem;
}


/* Barra sottostante il grafico */

.summary-container-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.08);
  border: 2px solid;
  border-color: #21355f;
  padding: 16px 24px;
  border-radius: 12px;
  margin: 30px 0 15px 0;
  gap: 20px;
}

/* Riepilogo domande "corrette", "sbagliate", "totali" */

.summary-box {
  display: flex;
  gap: 20px;
}

.box-stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
  border-right: 1px solid #3d3d5c; /* Linea verticale grigia divisoria */
}

.box-stat:last-child {
  border-right: none; /* Rimuove la linea dall'ultimo elemento */
}

.lbl-stat {
  font-size: 0.75rem;
  color: #a0a0c0;
  text-transform: uppercase;
  margin-top: 4px;
}

/* Numeri grandi colorati */

.num-green {
  color: #2ed573;
  font-weight: bold;
  font-size: 1.4rem;
}
.num-red {
  color: #ff4757;
  font-weight: bold;
  font-size: 1.4rem;
}
.num-blue {
  color: #5352ed;
  font-weight: bold;
  font-size: 1.4rem;
}

/* Riposizionamento e stile del bottone Ricomincia dentro la barra */

#buttonRestart {
  margin: 0;
  background-color: #1b273f;
  color: #ffffff;
  border: 1px solid #3d3d5c;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

#buttonRestart:hover {
  background-color: #21355f;
}

/* Testi di contorno inferiori */

.feedback-invite {
  font-size: 0.85rem;
  color: #888;
  margin-bottom: 15px;
}

/* Barra gialla di avviso errore */

.error-warning {
  background-color: rgba(255, 165, 0, 0.08);
  border: 2px solid orange;
  color: orange;
  font-size: 0.8rem;
  padding: 12px;
  border-radius: 6px;
  text-align: left;
  margin-bottom: 30px;
  line-height: 1.4;
}

/* Button Vai Avanti */

#button-gofeedback {
  display: flex;
  margin: 0 auto;
  background-color: #1b273f;
  color: #ffffff;
  border: 1px solid #3d3d5c;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
  justify-content: center;
}
#button-gofeedback:hover {
  background-color: white;
  color: #1b273f;
}

/* SEZIONE FEEDBACK */


/* Stelle di feedback*/

.title-feed {
  font-size: 1.7rem;
}

.star-container {
  display: flex;
  justify-content: space-around;
  
}

.star {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Stato base della stella (Vuota) */

.star-image {
  background: none;
  border: none;
  font-size: 50px;
  color: rgb(180, 160, 175);
  cursor: pointer;
  padding: 0;
  line-height: 1;
  transition: color 0.2s ease, transform 0.1s ease;
}

/* Effetto dinamico al passaggio del mouse sulla singola stella */
.star-image:hover {
  transform: scale(1.2);
}

/* Stato della stella quando viene cliccata e attivata tramite JS */
.star-image.active-star {
  color: #21355f !important;
  /* Colore acceso definitivo */
  animation: pop 0.3s ease-in-out;
}

.star-number {
  font-size: 1.2rem;
}

.star-text {
  font-size: 1rem;
  margin-top: 5px;
}


/* Textarea cosa ti è piaciuto*/

.what-liked {
  margin-top: 40px;
}

.liked-label {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
}

#liked-text {
  font-size: 1rem;
  margin-top: 5px;
  height: 120px;
  resize: none;
  width: 100%;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top:5px;
}

#char-counter-liked {
  text-align: right;
  font-size: 0.8rem;
}

/* Textarea cosa cambieresti*/

.what-advice {
  margin-top: 40px;
}

.advice-label {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
}

#advice-text {
  font-size: 1rem;
  margin-top: 5px;
  height: 120px;
  resize: none;
  width: 100%;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top:5px;
}

#char-counter-advice {
  text-align: right;
  font-size: 0.8rem;
}

/* Email del feedback */

.email-label {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
}

#email-text {
  font-size: 1rem;
  height: 30px;
  max-width: 100%;
  min-width: 100%;
  border-color: rgb(225, 225, 225);
  border-radius: 6px;
}

.email-label .email-optional {
  font-size: 1rem;
  color: #1b273f;
}

#submit-feed {
  display: flex;
  margin: 0 auto;
  background-color: #1b273f;
  color: #ffffff;
  border: 1px solid #3d3d5c;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
  justify-content: center;
  margin-top: 30px;
  
}

#submit-feed:hover {
  background-color: white;
  color: #1b273f;
}

textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  outline-color: #21355f;
}

input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  outline-color: #21355f;
}


/* Pagina Ringraziamento */

#thanks-feed-title {
 font-size: 2rem;
 text-align: center;
 margin-bottom: 50px;
}

.goodbye {
  font-size: 1.2rem;
}